{% extends "layout.html" %}
{% block panel %} 
<div id="panel">
  <u><center>Realtime Metric, Ending Now</center></u>
  <div class="row">
    <div class='col-sm-4'>
      Duration :
    </div>
    <div class='col-sm-8'>
    	<select id="duration" class="form-control">
           	<option value="10">10 minutes</option>
            <option value="60">1 hour</option>
            <option value="120" selected>2 hours</option>
            <option value="180">3 hours</option>
            <option value="360">6 hours</option>
        </select>
    </div>
  </div>
  <!-- <div class="box-up">
    Duration :
    <select id="duration" class="form-control" disabled>
        <option value="60">1 hour</option>
    </select>
    <button class="btn btn--blue" onclick="supplyDemand()">Refresh</button>
  </div> -->
    
  <div class="row">
    <div class='col-sm-4'>
    </div>
    <div class="col-sm-8">
        <button class="btn btn--blue" onclick="supplyDemand()">Refresh</button>
    </div>
  </div>
    <input id="lat-value" type="hidden" value="{{ lat_value }}">
    <input id="long-value" type="hidden" value="{{ long_value }}">
    <hr/>
  <div class="box-up">
    <button class="btn btn--red" onclick="location.href = '/history?lat={{ lat_value }}&long={{ long_value }}&date=2016-06-08';" >Surge History</button>
    <button class="btn btn--red" onclick="location.href = '/traffic?lat={{ lat_value }}&long={{ long_value }}&date=2016-06-08';" >Traffic History</button>
    <a href="/weather?location=KJFK&date=2016-06-08">(weather)</a>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script src="static/current.js"></script>
{% endblock %}