{% extends "layout.html" %}
{% block panel %} 
<div id="panel">
  <u><center>Supply Demand History</center></u>
  <div class="row">
    <div class='col-sm-4'>
      Duration :
    </div>
    <div class='col-sm-8'>
        <select id="duration" class="form-control">
           <option value="10">10 minutes</option>
            <option value="60">1 hour</option>
            <option value="120" selected>2 hours</option>
            <option value="180">3 hours</option>
            <option value="360">6 hours</option>
        </select>
    </div>
  </div>
  <!-- <div class="box-up">
    Duration :
    <select id="duration" class="form-control" disabled>
        <option value="60">1 hour</option>
    </select>
    <button class="btn btn--blue" onclick="supplyDemand()">Refresh</button>
  </div> -->
    
  <div class="row">
    <div class='col-sm-4'>
      Ending At :     
    </div>
    <div class='col-sm-8'>
      <div class='input-group date' id='datetimepicker1'>
        <input type='text' id="date-range" class="form-control" />
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class='col-sm-4'>
    </div>
    <div class="col-sm-8">
        <button class="btn btn--blue" onclick="supplyDemand()">Refresh</button>
    </div>
  </div>
    <input id="date-value" type="hidden" value="{{ date_value }}">
    <input id="lat-value" type="hidden" value="{{ lat_value }}">
    <input id="long-value" type="hidden" value="{{ long_value }}">
    <hr/>
  <div class="box-up">
        <button class="btn btn--red" onclick="location.href = '/current?lat={{ lat_value }}&long={{ long_value }}';" >Realtime Metric</button>
        <button class="btn btn--red" onclick="location.href = '/traffic?lat={{ lat_value }}&long={{ long_value }}&date={{ date_value }}';" >Traffic History</button>
        <a href="/weather?location=KJFK&date=2016-06-08">(weather)</a>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script src="static/history.js"></script>
{% endblock %}