<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Traffic History</title>

    <link rel="stylesheet" href="static/style/style.css">
    <link rel="stylesheet" href="static/style/bootstrap.min.css">
    <link rel="stylesheet" href="static/style/bootstrap-datetimepicker.min.css">
    
    <script src="static/lib/jquery.js"></script>
    <script src="static/lib/bootstrap.min.js"></script>
    <script src="static/lib/underscore-min.js"></script>
    <script src="static/lib/moment.min.js"></script> 
    <script src="static/lib/bootstrap-datetimepicker.min.js"></script>
  </head>

  <body>
    {% block panel %} {% endblock %}
    <div id="legend">
      <div id="legendGradient"></div>
      <div id="legendValue">
        <div class="tick tick-left"></div>
        <div class="tick tick-right"></div>
        <div class="legendText legendText-left" id="legendMin"></div>
        <div class="legendText legendText-right" id="legendMax"></div>
      </div>
    </div>
    <div id="map-canvas"></div>

    <div id="spinner">
        <div class="preloader preloader--wrapper">
            <div class="preloader__loader">
                <div id="spinner-image" class="spinner" style="background-image: url('static/images/loading.gif')"></div>
                <div class="preloader__label">Loading ...</div>
            </div>
        </div>
    </div>

    <script src="static/common.js"></script>
    {% block scripts %} {% endblock %}
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRQtgHrYjlzf8vRf3WF_DSha5iAbkU79s&libraries=visualization&callback=initMap">
    </script>
  </body>
</html>
