{% extends "weather.html" %}
{% block weather_data %} 
  <table id="weather-table" class="display compact">
      <thead>
          <tr>
              <th>Name</th>
              <th>Date</th>
              <th>Weather</th>
              <th></th>
          </tr>
      </thead>
      <tbody>
        {% for row in data %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td><a href="/traffic?long=-74.025879&lat=40.763901&date={{ row[1].strftime('%Y-%m-%d') }}">(traffic)</a></td>
        </tr>
        {% endfor %}
      </tbody>
  </table>
{% endblock %}