<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Weather Table</title>

    <link rel="stylesheet" href="static/style/style.css">
    <link rel="stylesheet" href="static/style/daterangepicker.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    
    <script src="static/lib/jquery.js"></script>
    <script src="static/lib/underscore-min.js"></script>
    <script src="static/lib/moment.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  </head>

  <body >
    <div class="weather-wrapper">
    <h2><center>Weather Data</center></h2>
      {% block weather_data %} {% endblock %}
    </div>

    <script src="static/weather.js"></script>
  </body>
</html>
