html, body, #map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
}

body, #weather {
    font-family: "Helvetica Neue", Helvetica, Arial;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #3b3b3b;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    background: #2b2b2b;
}

h2 {
  color: #dddddd;
}

.weather-wrapper {
    margin: 0 auto;
    padding: 40px;
    max-width: 800px;
    background: #000000;
}

.dataTables_wrapper {
    margin: 0 auto;
    padding: 40px;
    max-width: 800px;
    background: #27ae60;
}

#panel {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -180px;
  z-index: 1;
  background-color: #fff;
  padding: 8px;
  border: 1px solid #999;
}

/*
Provide the following styles for both ID and class,
where ID represents an actual existing "panel" with
JS bound to its name, and the class is just non-map
content that may already have a different ID with
JS bound to its name.
*/

#panel, .panel {
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  border-radius: 5px;
  width: 400px;
}

#panel select, #panel input, .panel select, .panel input {
  font-size: 15px;
}

#panel select, .panel select {
  /* width: 150px; */
  -webkit-appearance: menulist;
  height: 36px;
}

#panel i, .panel i {
  font-size: 12px;
}

/* #panel input {
  width: 150px;
} */

* {
  box-sizing: border-box;
}

#legend {
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 200px;
  height: 40px;
  z-index: 3;
  color: #fff;
}

#legendGradient {
  width: 100%;
  height: 15px;
  border: 1px solid black;
}

/* BUTTON */

.btn:hover, .btn:focus {
  position: relative;
  outline: 0;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: underline;
}
.btn--red {
  text-shadow: -0.1rem -0.1rem rgba(0,0,0,0.08);
  background: #D73C3C;
  background-image: linear-gradient(to bottom, #de5e5e 0%, #D73C3C 100%);
  border-bottom-color: rgba(0,0,0,0.12);
  border-right-color: rgba(0,0,0,0.08);
  border-left-color: rgba(0,0,0,0.08);
  border-top-color: #dc5555;
  color: #fff;
}
.btn--blue {
  text-shadow: -0.1rem -0.1rem rgba(0,0,0,0.08);
  background: #3C3CD7;
  background-image: linear-gradient(to bottom, #5e5ede 0%, #3C3CD7 100%);
  border-bottom-color: rgba(0,0,0,0.12);
  border-right-color: rgba(0,0,0,0.08);
  border-left-color: rgba(0,0,0,0.08);
  border-top-color: #dc5555;
  color: #fff;
}
.btn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  padding: .2rem .6rem;
  line-height: 2.2rem;
  margin-bottom: 0;
  font-size: .9rem;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
  border: solid .1rem;
  border-top-color: rgba(0,0,0,0);
  border-bottom-color: rgba(0,0,0,0.12);
  border-right-color: rgba(0,0,0,0.08);
  border-left-color: rgba(0,0,0,0.08);
  border-radius: .3rem;
  text-decoration: none;
  vertical-align: middle;
  box-shadow: 0 0.1rem 0.1rem rgba(0,0,0,0.08);
}

/* .form-control {
  -webkit-appearance: none;
  font: inherit;
  font-size: 1.6rem;
  line-height: 1rem;
  padding: .5rem;
  border: solid .1rem #c7c7cc;
  box-shadow: 0 0.1rem 0.1rem rgba(0,0,0,0.12) inset;
  width: 100%;
  border-radius: .3rem;
  background-color: #fff;
  display: inline-block;
  vertical-align: middle;
  min-height: 2rem;
}

input {
  margin: 0em;
  font: normal normal normal normal 13.3333330154419px/normal Arial;
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
} */

.box-up {
  margin-bottom: 5px;
}

.tick {
  position: absolute;
  left: 0px;
  top: 15px;
  width: 1px;
  height: 3px;
  background: black;
}

.tick.tick-right {
  text-align: right;
  right: 0;
  left: inherit;
}

.legendText {
  position: absolute;
  left: 0px;
  top: 18px;
  width: 80px;
  text-align: left;
  font-size: 0.8em;
  font-family: 'Roboto','sans-serif';
}

.legendText.legendText-right {
  right: 0px;
  text-align: right;
  left: inherit;
}

.preloader {
  padding: 1.6rem 0;
  text-align: center;
  font-family: 'Roboto','sans-serif';
}

.preloader .spinner {
  width: 3.2rem;
  height: 3.2rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.preloader__label {
  font-size: 1.2rem;
  text-align: center;
  margin: .8rem 0 0;
  color: #8E8E93;
}

.preloader--wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  background: rgba(255, 255, 255, 0.64);
  text-align: center;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.preloader--wrapper .preloader__loader {
  padding: 1.6rem 1.2rem;
  background: #f5f5f5;
  border-radius: .4rem;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
  width: 16rem;
}

.preloader--wrapper .preloader__label {
  position: relative;
  bottom: auto;
  line-height: 1.4;
}

.preloader--wrapper .spinner {
  position: relative;
}

.picker {
  max-width: 50px;
}

.row {
  margin-bottom: 15px;
}